absl-py
cachetools
certifi
chardet
dill
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gsheets
gspread
httplib2
idna
numpy
oauth2client
oauthlib
ortools
packaging
pandas
protobuf
pyasn1
pyasn1-modules
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
six
tabulate
uritemplate
urllib3
pre-commit
black
ruff
matplotlib
mplcursors